.my-input {
    width: 300;
    height: 40;
    top: 138px;
    left: 100px;
    opacity: 1;

}

.link {
    width: 157px;
    height: 16px;
    top: 52px;
    left: 172px;
    opacity: 1;
}

.button {
    display: block;
    width: 300px;
    height: 45px;
    top: 387px;
    left: 100px;
    opacity: 1;
    margin: auto;
}

.img {
    display: block;
    margin: auto;

}

.form {
    width: 500px;
    height: 656px;
    border: 1px solid #ccc;
    opacity: 1;
    text-align: center;
}

.p {
    text-align: center;
}