.nav-menu {
    max-width: 853px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15x;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    color: #3D3D3D;
    font-weight: 400;
    transition: color 0.3s ease;
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0%;
}


.nav-link:hover {
    color: #46A358;
    border-bottom: 2px solid #46A358;
    padding-bottom: 7px;
    font-family: Cera Pro;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0%;
}

.sort-box {
    display: inline-block;
    align-items: center;
    font-size: 15px;
    line-height: 16px;
    color: #333;
    margin-left: 355px;
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0%;
}

select {
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0%;
}

.cards-wrap {
    max-width: 855px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15x;
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    position: relative;
}

.card-item {
    width: 258px;
    height: 360px;
    background-color: #FBFBFB;
    display: inline-block;
    position: relative;
}

.card-img {
    width: 250px;
    height: 250px;
    padding: 31px 4px 19px 4px;
    display: inline-block;
}


.card-title {
    width: 100%;
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #3D3D3D;
    margin: 0px;
    padding: 12px 140px 6px 0px;
}

.how-much {
    width: 50%;
    font-family: Cera Pro;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #46A358;
    margin: 0px;
    padding: 6px 6px 0px 0px;

}

.card {
    position: relative;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
}

.icons {
    position: absolute;
    bottom: 20px;
    gap: 26px;
    display: flex;
    opacity: 0;
    right: 52px;
    bottom: 45px;
}

.icons img {
    width: 20px;
    height: 20px;
    background: #fff;
    padding: 7px;
    cursor: pointer;

}

.card-item:hover .icons {
    opacity: 1;
}

.card-item:hover {
    border-top: 1px solid #46A358;
}

.old-price {
    display: flex;
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #A5A5A5;
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    text-decoration-color: #CBCBCB;
    margin: 0px;
    position: absolute;
    left: 76px;
    bottom: 0;
    opacity: 0;
}


.card-item:hover .old-price {
    opacity: 1;
}

.btn {
    display: flex;
    position: absolute;
    width: 80px;
    height: 29px;
    border: none;
    background-color: #46A358;
    top: 14px;
    color: #FFFFFF;
    align-items: center;
    opacity: 0;
}

.discount {
    font-family: Cera Pro;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
}

.card-item:hover .btn {
    opacity: 1;
}