* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'CeraPro', sans-serif;
}

.header-cards {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    max-width: 1202px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.plant-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBFBFB;
}

.plants {
    width: 250px;
    height: auto;
}

.plant-info {
    text-align: right;
}

.btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0px 30px 0px 0px;
}

.btn:hover {
    background-color: #45a049;
}

.plant-info h2 {
    font-family: Cera Pro;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
    padding: 37px 30px 9px 119px;
    color: #3D3D3D;
}

.plant-info p {
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    padding: 0px 30px 25px 0px;
    color: #727272;
}

.blog-section {
    text-align: center;
    padding: 138px 0px 15px 0px;
}

.blog-section h1 {
    font-family: Cera Pro;
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    text-align: center;
    font-size: 30px;
    color: #3D3D3D;
    padding: 0px 0px 15px 0px;
}

.blog-section p {
    font-family: Cera Pro;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #727272;
}

.blog {
    display: flex;
    gap: 44px;
}

.blog-info {
    padding: 9px 11px 12px 15px;
}

.blog-container {
    width: 268px;
    height: 362px;
    background: #FBFBFB;
    display: flex;
    flex-wrap: wrap;
}

.blog-cards {
    width: 268px;
    display: flex;
    flex-direction: column;
}

.date-time {
    font-family: Cera Pro;
    font-weight: 500;
    color: #46A358;
    font-size: 14px;
    line-height: 16px;
}

.blog-info h2 {
    font-family: Cera Pro;
    font-weight: 700;
    color: #3D3D3D;
    font-size: 20px;
    line-height: 26px;
}

.info {
    font-family: Cera Pro;
    font-weight: 400;
    color: #727272;
    font-size: 14px;
    line-height: 22px;
}

.link {
    font-family: Cera Pro;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #3D3D3D;
}